@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  ::selection {
    background-color: #38bdf8;
    color: #0a0a0a;
  }

  input[type='date']::-webkit-calendar-picker-indicator {
    filter: invert(0.5);
  }
}
